{#
/**
 * Width Fieldtype plugin for Craft CMS 3.x
 *
 * Width Field Input
 *
 * @author    Rias
 * @copyright Copyright (c) 2017 Rias
 * @link      https://rias.be
 * @package   WidthFieldtype
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

<div id="{{ id }}" class="width-fieldtype btngroup">
    {% for option, label in allOptions %}
        {% if field.options[option] is defined and field.options[option] %}
            <div title="{{ label|t('width-fieldtype') }}" class="btn width-button {% if value is not null ? option == value : field.default == option %} active{% endif %}" data-option="{{ option }}">
                <img src="{{ craft.app.assetManager.getPublishedUrl('@rias/widthfieldtype/assetbundles/widthfieldtype/dist/img', true, label|replace('/', '-') ~ '.svg')|lower }}" alt="">
            </div>
        {% endif %}
    {% endfor %}
</div>

<input type="hidden" name="{{ name }}" value="{{ value ?? field.default }}">
