{#
/**
 * Width Fieldtype plugin for Craft CMS 3.x
 *
 * Width Field Input
 *
 * @author    Rias
 * @copyright Copyright (c) 2017 Rias
 * @link      https://rias.be
 * @package   WidthFieldtype
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

<div id="{{ id }}" class="btngroup big">
    {% for option, label in allOptions %}
        {% if field.options[option] %}
            <div title="{{ label|t('width-fieldtype') }}" class="btn big {% if value is not null ? option == value : field.default == option %} active{% endif %} width-icon-{{ option }}" data-option="{{ option }}"></div>
        {% endif %}
    {% endfor %}
</div>

<input type="hidden" name="{{ name }}" value="{{ value ?? field.default }}">
